.home-page-container {
  padding: 15px;
  .home-titles {
    h1 {
      font-family: cursive;
      margin-bottom: 7px;
    }
    p {
      font-size: 18px;
      margin: 0;
      margin-bottom: 35px;
      font-family: cursive;
      color: #444364;
    }
  }
}
